.modal-body {
  padding: 0;
}

#msform {
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

.form-check-input:checked {
  background-color: #0a8a10;
  border-color: #0a8a10;
}

#msform input {
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: Montserrat, Arial, Verdana;
  color: #2c3e50;
  font-size: 13px;
}

#msform input:focus {
  border: 1px solid #0a8a10;
  outline-width: 0;
  transition: All 0.5s ease-in;
}

.action-button:hover,
.action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #0a8a10;
}

.action-button-previous {
  width: 100px;
  background: #c5c5f1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.action-button-previous:hover,
.action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}

.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}
