.student-dashboard-logo {
  width: 100px;
  height: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.sidebar_content {
  height: 100%;
  min-height: 700px;
  max-height: 1000px;
}

.form-control {
  line-height: 2 !important;
}