.aboutus-section {
  margin-top: 10rem;
  background-color: #eef1ee;
  margin: 20px;
  border-radius: 10px;
}
.aboutus-section{
  padding-top: 25px;
}

@media (max-width: 992px){
  .aboutus-section{
    margin-top: 65rem;
     
  }
}


.aboutus-section .title {
  color: var(--primary-color);
}
.aboutus-section .heading {
  color: var(--fancy-color);
}

.aboutus-section .description {
  color: var(--text-color);
  font-size: 15px;
}

.aboutus-section-rightside-img {
  text-align: center;
  justify-content: center;
  display: flex;
}

.aboutus-section img {
  width: 100%;
  height: auto;
}
